/*Style for the product's category section*/

.categories .container{
    display: block;
    color: #5D4954;
    align-items: center;
    margin-top: 140px;
}

.categories .container .boxes{
    display: flex;
    justify-content: center;
}

.categories h2{
    text-align: center;
    justify-content: center;
}

.categories div{
    display: flex;
}
.boxCategory{

    border: 2px solid #5D4954;
    border-radius: 20%;
    color: #5D4954;
    width: 150px;
    height: 200px;
    margin: 10px 50px;
    align-items: center;
    
}
