.search{
    position: sticky;
    width: 100%;
    top: 102px;
    margin-top: 0;
    background-color: #181d31; 
}

.search .container{
    display: block;
    color: #5D4954;
    text-align: center;
}


#searchBox{
    width: 250px;
    height: 25px;
    border: 2px solid #BFA181;
    border-radius: 5px;
    margin-right: 20px;
}

#searchBtn {
    width: 60px;
    height: 25px;
    background-color: #C3C0C0;
    border-color: #C3C0C0;
    border-radius: 5px;
    font-size: 15px;
    color: #181D31;
    font-weight: bolder;
} 

#searchBtn:hover{
    background-color: white;
    
    cursor: pointer;
}